<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- begin meta -->
        <title>#</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="#" />
        <meta name="keywords" content="#" />
        <!-- end meta -->
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
