<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KPCC Code Challenge</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="Proof of concept web application that allows a user to search for KPCC articles and find any associated audio files." />
        <meta name="keywords" content="scpr, KPCC, audio, news, article search" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/scripts/audio.min.js"></script>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
