<div class="parent">
    <h1>Fill Out This Form</h1>
    <form action="/search/" method="POST">
        Search term: <input type="text" name="searchterm">
        <input type="submit">
    </form>
</div>
