<form class="search-form" action="/search/" method="POST">
    <label>Search Term</label>
    <div class="inputs">
        <input type="text" name="searchterm" placeholder="battlestar galactica">
        <input type="submit" value="Search">
    </div>
</form>
