body {
    font: 100%/1.618 Arial, sans-serif;
    color: #2B2B2B;
}

.container {
    width: 96%;
    height: auto;
    margin: 0 2%;
    padding: 1% 0;
}

form.search-form {
    width: 40%;
    height: 200px;
    margin: 5% 30%;
}

label, .inputs {
    display:block;
}

label {
    font-size: 75%;
    color: #949491;
    font-weight: bold;
}

label:after {
    content: ": "
}

.inputs {
    width: 100%;
}

input[type=text] {
    width: 75%;
    height: 40px;
    background: none;
    border: 0px;
    border-bottom: 3px solid #00C5CD;
    outline: none;
    font-size: 125%;
    font-weight: 200;
    color: #2B2B2B;
}

input[type=submit] {
    width: 20%;
    height: 35px;
    background: #00C5CD;
    border: 0px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
}

.result-list {
    width: 96%;
    margin: 1% 2%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    background: blue;
}
